body {
  margin: 0;
}

body *::-webkit-scrollbar {
  width: 0px;
}

.wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper,
.wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat-Bold";
}

.wrapper .menu-arrow {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  z-index: 4;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.wrapper .menu-arrow svg {
  width: 18px;
  height: auto;
  fill: #fff;
}

.wrapper .menu-arrow.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper .menu-arrow.open svg {
  fill: #2e2e2e;
}

.wrapper .side-bar,
.wrapper .container {
  position: relative;
}

.wrapper .side-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 410px;
          flex: 0 0 410px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ad6bff), to(#74bcf7));
  background-image: linear-gradient(-180deg, #ad6bff 0%, #74bcf7 100%);
  padding: 120px 70px 100px 40px;
  z-index: 3;
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-shadow: -30px 0px 0 0 #fff inset;
          box-shadow: -30px 0px 0 0 #fff inset;
}

.wrapper .side-bar:before, .wrapper .side-bar:after {
  content: "";
  position: fixed;
  width: calc(410px - 30px);
  height: 100px;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ad6bff), to(#ad6bff00));
  background-image: linear-gradient(-180deg, #ad6bff 0%, #ad6bff00 100%);
}

@media (max-width: 1024px) {
  .wrapper .side-bar:before, .wrapper .side-bar:after {
    width: calc(240px - 25px);
  }
}

@media (max-width: 767px) {
  .wrapper .side-bar:before, .wrapper .side-bar:after {
    width: calc(180px - 25px);
  }
}

.wrapper .side-bar:after {
  content: "";
  bottom: 0;
  top: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74bcf700), to(#74bcf7));
  background-image: linear-gradient(-180deg, #74bcf700 0%, #74bcf7 100%);
}

.wrapper .side-bar.close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0px;
  padding: 120px 0px;
  opacity: 0;
}

@media (max-width: 1024px) {
  .wrapper .side-bar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 240px;
            flex: 0 0 240px;
    padding: 100px 60px 100px 40px;
    -webkit-box-shadow: -25px 0px 0 0 #fff inset;
            box-shadow: -25px 0px 0 0 #fff inset;
  }
}

@media (max-width: 767px) {
  .wrapper .side-bar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    padding: 80px 40px 80px 20px;
    -webkit-box-shadow: -25px 0px 0 0 #fff inset;
            box-shadow: -25px 0px 0 0 #fff inset;
  }
}

.wrapper .container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px 60px;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.wrapper .container.close .header .title {
  text-indent: 0;
}

@media (max-width: 1024px) {
  .wrapper .container {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .wrapper .container {
    padding: 20px;
  }
}

.wrapper .header {
  margin-bottom: 82px;
}

@media (max-width: 767px) {
  .wrapper .header {
    margin-bottom: 45px;
  }
}

.wrapper .header .plus-icon {
  width: 56px;
  height: 56px;
  background-image: linear-gradient(-135deg, #deffc9 0%, #a3f8ff 100%);
  font-family: "Montserrat-Medium";
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .wrapper .header .plus-icon {
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 32px;
  }
}

.wrapper .header .title {
  font-family: "Montserrat-Bold";
  font-size: 48px;
  color: #000;
  letter-spacing: 8.4px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .wrapper .header .title {
    font-size: 20px;
  }
}

.wrapper .bed-lamp-toggle {
  margin-bottom: 66px;
}

@media (max-width: 767px) {
  .wrapper .bed-lamp-toggle {
    margin-bottom: 60px;
  }
}

.wrapper .bed-lamp-toggle .title {
  font-family: Montserrat-Bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 5.12px;
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .wrapper .bed-lamp-toggle .title {
    font-size: 25px;
  }
}

.wrapper .bed-lamp-toggle .toggle-btn {
  -webkit-box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=styles.css.map */